.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__left {}

.checkout_ads {
    width: 50%;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__title {}

.checkout_right {}